name: Go CI/CD

on:
  push:
    branches: [ "master" ]
    tags: [ "v*" ] # qualquer tag iniciada com v ex: v1.0.0

jobs:
  build-test:
    name: Build & Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23

      - name: Cache Go modules
        uses: actions/cache@v4
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}

      - name: Install dependencies
        run: go mod download

      - name: Run tests
        run: go test ./... -v -cover

      - name: Build binary
        run: go build -o app ./cmd/server

      - name: Upload binary as artifact
        uses: actions/upload-artifact@v4
        with:
          name: go-app
          path: app

  # esta parte ir치 construir e enviar a imagem Docker
  docker:
    name: Build & Push Docker Image
    runs-on: ubuntu-latest
    needs: build-test
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      # esta etapa ir치 realizar o login no Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      # esta etapa ir치 extrair os metadados para a imagem Docker
      - name: Extract metadata for Docker
        id: meta
        run: |
          if [[ "${GITHUB_REF}" == refs/heads/master ]]; then
            echo "tag=latest" >> $GITHUB_OUTPUT
          elif [[ "${GITHUB_REF}" == refs/tags/* ]]; then
            version=${GITHUB_REF#refs/tags/}
            echo "tag=${version}" >> $GITHUB_OUTPUT
          else
            echo "tag=dev" >> $GITHUB_OUTPUT
          fi
      # esta etapa ir치 construir e enviar a imagem Docker no dockerhub de marceloabrao
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/go-app:${{ steps.meta.outputs.tag }}
          build-args: |
            GO_VERSION=1.23
